.App {
    text-align: center;
    background-color: #869ac2;
    color: aliceblue;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .mainContainer{
    display: flex;
    justify-content: center;
  }
  
  .containerLeft, .containerRight{
    margin: 10px;
  }
  
  button{
  border-radius: 10px;
  color:  #305aad;
  }
  
  img{
    border-radius: 10px;
    border-inline: solid rgb(125, 115, 115) ;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #7c8dae;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }